#header {
    display: flex;
    background-color: darkcyan;
}
.header{
    width: 25%;
    margin: 10px;
}

#main {
    margin-left: 10px;
}

.tyngde {
    display: none;
}

td {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.inputs.form-control {
    width: 500px;
}

